body {
    background-color: #f3f3f3;
    color: #181808;
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
}

.main h1, h2, h3, h4, h5, h6 {
    border-bottom: 2px solid #181808;
}

.timer {
    font-size: 48px;
    font-style: italic;
}