{% extends "layout.html" %}

{% block title %}
    Notes
{% endblock %}

{% block main %}
    <p class="text-end">
        <a href="#newnote" class="text-decoration-none">
            Go to: New Note
        </a>
    </p>
    
    <h2>
        Your Notes
    </h2>
        {% if not notes %}
            <p>No notes yet.</p>
        {% else %}          
            {% for note in notes %}
                {% if loop.index % 2 != 0 %}
                <div class="row mb-3">
                {% endif %}
                    {# TODO: Add a counter in front of each note #}
                    <div class="col-md-6">
                        <div class="col-md-12">
                            <h4>{{ loop.index }}</h4> 
                            <p>{{ note[1]|safe }}</p>
                        </div>
                        <div class="col-md-12 input-group">
                            <form action="/editnote" method="post" class="me-1">
                                <input name="id" type="hidden" value="{{ note[0] }}">
                                <button class="btn btn-warning btn-sm" type="submit">Edit</button>
                            </form>
                            <form action="/removenote" method="post" class="me-1">
                                <input name="id" type="hidden" value="{{ note[0] }}">
                                <button class="btn btn-danger btn-sm" type="submit">Remove</button>
                            </form>
                        </div>
                    </div>
                {% if loop.index % 2 == 0 %}
                </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    <h2>
        New Note
    </h2>
    <form action="/notes" method="post">
        <div class="mb-3">
            <textarea autocomplete="off" class="form-control" rows="3" maxlength="512" id="newnote" name="newnote" placeholder="New Note" type="text"></textarea>
            <div id="newnotehelp" class="form-text">
                Note text must not exceed 512 characters.
            </div>
        </div>
        <button class="btn btn-primary btn-sm" type="submit">Add Note</button>
    </form>
{% endblock %}