{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <h2>
        Register
    </h2>
    <form action="/register" method="post">
        <div class="input-group">
            <input autocomplete="off" autofocus class="form-control me-3 my-3" id="username" name="username" placeholder="Username" type="text">
            <input autocomplete="off" class="form-control me-3 my-3" id="email" name="email" placeholder="Email address" type="text">
        </div>
        <div class="input-group">
            <input class="form-control me-3 mb-3" id="password" name="password" placeholder="Password" type="password">
            <input class="form-control me-3 mb-3" id="confirmation" name="confirmation" placeholder="Confirm password" type="password">
        </div>
        <div class="me-3 mb-3">
            <button class="btn btn-primary" type="submit">Register</button>
        </div>
    </form>
{% endblock %}