{% extends "layout.html" %}

{% block title %}
    Timer
{% endblock %}

{% block main %}
    <h2>
        Set Timer
    </h2>
    <form>
        <div class="form-row">
            <div class="input-group">
                <div class="mb-3">
                    <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="min" placeholder="min" id="min" type="text" value="10">
                    <label for="min">Minutes</label>
                </div>
                <div class="input-group-prepend">
                    <span class="input-group-text">:</span>
                </div>
                <div class="mb-3">
                    <input autocomplete="off" class="form-control mx-auto w-auto"  name="sec" placeholder="sec" id="sec" type="text" value="00">
                    <label for="sec">Seconds</label>
                </div> 
            </div>
        </div>
        <div class="mb-3">
            <button class="btn btn-primary btn-sm" type="button" id="set">Start Timer</button>
        </div>
    </form>
    <h4 class="mb-3">
        Presets
    </h4>
    <form>
        <div class="mb-3">
        <button class="btn btn-primary btn-sm" type="button" name="preset" value="60">1:00</button>
        <button class="btn btn-primary btn-sm" type="button" name="preset" value="120">2:00</button>
        <button class="btn btn-primary btn-sm" type="button" name="preset" value="180">3:00</button>
        <button class="btn btn-primary btn-sm" type="button" name="preset" value="300">5:00</button>
        <button class="btn btn-primary btn-sm" type="button" name="preset" value="600">10:00</button>
        <button class="btn btn-primary btn-sm" type="button" name="preset" value="1200">20:00</button>
        <button class="btn btn-primary btn-sm" type="button" name="preset" value="1500">25:00</button>
        <button class="btn btn-primary btn-sm" type="button" name="preset" value="1800">30:00</button>
        <button class="btn btn-primary btn-sm" type="button" name="preset" value="2700">45:00</button>
        <button class="btn btn-primary btn-sm" type="button" name="preset" value="3600">60:00</button>
        </div>
    </form>

    <h2>
        Current Timer
    </h2>
    <p class="timer" id="timer">00:00</p>
    <form>
        <button class="btn btn-warning btn-sm" type="button" id="pause">Pause</button>
    </form>
    <script src="{{url_for('static', filename='timer.js')}}"></script>
{% endblock %}